# jira (Upstart unit)
description "Atlassian Jira"

start on stopped rc RUNLEVEL=[2345]
stop on runlevel [06]

script
sudo -u {{ jira_user }} -i <<EOF
  export JIRA_HOME={{ jira_home }}
  export JAVA_HOME={{ java8_home }}
  cd {{ jira_distdir }}
  exec ./bin/start-jira.sh -fg
EOF
end script

respawn
respawn limit 10 10
kill timeout 10
